@media screen and (min-width:650px) {
    .all-movieDetail{
        color: white;
        display: flex;
    }
    img{
        width: 80%;
        height: auto;
        border-radius: 10px;
    }
    .DetailImage{
        width: 25%;
        margin-left: 1%;
    }
    .DetailDescription{
        width: 60%;
    }
    p{
        margin-top: 2%;
    }
    .D-YearAndTime {
        color: orange;
        font-weight: 700;
    }
    .D-MadeBy{
        color: orange;
        font-weight: 700;
    }
    span{
        color: orange;
        font-weight: 700;
    }
    .D-Description{
        text-align: justify;
        margin-bottom: 5%;
    }
    .leftButton{
        font-size: 20px;
        background-color: orange;
        text-align: center;
    }
    .leftButton:hover{
        border-color: white;
        background-color: darkorange;
    }
    .rightButton:hover{
        border-color: white;
        background-color: darkorange;
    }
    .rightButton{
        margin-left: 3%;
        font-size: 20px;
        background-color: orange;
        text-align: center;
    }
}

@media screen and (max-width:650px) {
    .all-movieDetail{
        color: white;
        display: flex;
    }
    img{
        width: 80%;
        height: auto;
        border-radius: 10px;
    }
    .DetailImage{
        width: 25%;
        margin-left: 1%;
    }
    .DetailDescription{
        width: 60%;
    }
    p{
        margin-top: 2%;
    }
    .D-YearAndTime {
        color: orange;
        font-weight: 700;
    }
    .D-MadeBy{
        color: orange;
        font-weight: 700;
    }
    span{
        color: orange;
        font-weight: 700;
    }
    .D-Description{
        text-align: justify;
        margin-bottom: 5%;
    }
    .leftButton{
        font-size: 20px;
        background-color: orange;
        text-align: center;
    }
    .leftButton:hover{
        border-color: white;
        background-color: darkorange;
    }
    .rightButton:hover{
        border-color: white;
        background-color: darkorange;
    }
    .rightButton{
        font-size: 20px;
        margin-top: 5px;
        background-color: orange;
        text-align: center;
    }
    .test{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
    }
    h1{
        overflow: hidden;
    }
}