.element {  
    display: grid;  
    grid-template-columns: repeat(7, 1fr);  
    align-items: center;  
    justify-content: center;  
    gap: 1rem;  
}  
.element-div {  
    height: 200px;  
    margin: 0px;  
    padding: 20px;  
    color: white;
}  
p {  
    margin: 0 auto;  
}  
.image-container {  
    position: relative;  
}  
.overlay {  
    display: flex;
    position: absolute;  
    top: 50%;  
    left: 50%;  
    transform: translate(-50%, -50%);  
    background-color: black;  
    color: white;  
    padding: 10px;  
    border-radius: 5px;  
    font-size: 12px;  
    font-weight: 600;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease; 
}   
.image-container:hover .overlay {  
    opacity: 1;
    visibility: visible; 
}  
.series-image:hover {  
    transform: scale(1.1);  
    filter: blur(1px);  
}  
.series-image {  
    transition: transform 0.3s ease;  
}   
.overlay {  
    pointer-events: none;
}
.seriesInfoHolder{
    text-align: center;
}
.seriesInfoHolder .seriesTitleText{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 140px;
}
.titleHolder{
    font-size: 20px;
    text-align: left;
    font-weight: 500;
    color: white;
    /* margin-bottom: 2%;
    margin-top: 5px; */
}
.All-seriesReturn{
    border: 1px solid orange;
    border-radius: 5px;
    padding: 10px;
    padding-bottom: 100px;
}
.ratingOfSeries{
    color: orange;
}